<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Register</title>
<link rel="stylesheet" href="/style.css">
</head>

<body class="auth-page">

<div class="auth-box">

  <h2>Register</h2>
  <p class="auth-sub">Create new account</p>

  <form id="regForm">

    <input id="username" placeholder="Username" required>

    <input id="password" type="password" placeholder="Password" required>

    <button>Create account</button>

    <p id="msg"></p>

    <div class="auth-links">
      Have account? <a href="/login">Login</a>
    </div>

  </form>

</div>


<script>

regForm.onsubmit = async e=>{

  e.preventDefault();

  const res = await fetch("/api/auth/register",{

    method:"POST",
    headers:{ "Content-Type":"application/json" },

    body:JSON.stringify({
      username:username.value,
      password:password.value
    })

  });

  const data = await res.json();

  if(res.ok){

    location.href="/login";

  }else{

    msg.textContent = data.error;

  }

};

</script>

</body>
</html>
